/* Font Import Section */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* vanilla_fluent Web Section */

.vanilla_fluent {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
  position: relative;
  min-height: 100vh;
}

.editor-header {
  height: 4.5vh;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 3vw;
  font-size: 1.6vh;
  padding-bottom: 0.9vh;
  color: #fafafacc;
  background-color: #253139;
  font-family: 'Fira Code', monospace;
}

.vanilla_fluent__main__section-1__sub-section-1__codemirror,
.vanilla_fluent__main__section-1__sub-section-2__codemirror,
.vanilla_fluent__main__section-1__sub-section-3__codemirror {
  min-height: 20vh;
  background-color: #263238;
}

.vanilla_fluent__main {
  width: 100vw;
  position: relative;
  min-height: 100vh;
}

.vanilla_fluent__main__section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2vh;
  padding: 1.8vw;
  margin: 1.8vw;
  min-height: 40vh;
  margin-bottom: 3vh;
}

.vanilla_fluent__main__section-1__sub-section-1 {
  background: #253139;
  color: #fafafacc;
  border-radius: 1.5vw;
  padding: 0%;
  display: block;
  margin: auto;
  overflow: hidden;
  width: 40%;
}

.vanilla_fluent__main__section-1__sub-section-2 {
  background: #fff;
  border-radius: 1.5vw;
  padding: 0%;
  display: block;
  margin: auto;
  overflow: hidden;
  width: 40%;
}

.vanilla_fluent__main__section-1__sub-section-3 {
  background: #fff;
  border-radius: 1.5vw;
  padding: 0%;
  display: block;
  margin: auto;
  overflow: hidden;
  width: 40%;
}

.vanilla_fluent__main__section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8vw;
  background: rgb(red green rgb(0 0 255 / 0%) / alpha);
  border-radius: 2vw;
  outline: none;
  z-index: -200;
  min-height: 60vh;

  /* margin-bottom:50vh; */
}

.vanilla_fluent__main__section-1__sub-section-1__item {
  width: 90%;
  min-height: 60vh;
  overflow: scroll;
  margin: 0.9vw;
  background: #fff;
  outline: none;
  border: none;
  font-family: Courier, sans-serif;
  font-size: 1.17vh;
  border-radius: 20vh;
  padding: 0.54vw;
  word-wrap: break-word;
  resize: none;
}

.CodeMirror {
  min-height: 25vh;
  font-family: 'Fira Code', monospace !important;
}

.vanilla_fluent__main__section-1__sub-section-1__item {
  width: 90%;
  min-height: 50vh;
  overflow: scroll;
  margin: 0.9vw;
  background: #fff;
  outline: none;
  border: none;
  font-family: Courier, sans-serif;
  font-size: 1.17vh;
  border-radius: 1.8vh;
  padding: 0.54vw;
  word-wrap: break-word;
  resize: none;
}

.vanilla_fluent__main__section-1__sub-section-2__item {
  width: 90%;
  min-height: 50vh;
  overflow: scroll;
  margin: 0.9vw;
  background: #fff;
  outline: none;
  border: none;
  font-family: Courier, sans-serif;
  font-size: 1.17vh;
  border-radius: 1.8vh;
  padding: 0.54vw;
  word-wrap: break-word;
  resize: none;
}

.vanilla_fluent__main__section-1__sub-section-3__item {
  width: 90%;
  min-height: 50vh;
  overflow: scroll;
  margin: 0.9vw;
  background: #fff;
  outline: none;
  border: none;
  font-family: Courier, sans-serif;
  font-size: 1.17vh;
  border-radius: 1.8vh;
  padding: 0.54vw;
  word-wrap: break-word;
  resize: none;
}

@media only screen and (max-aspect-ratio: 3/5) {
  .vanilla_fluent__main__section-1__sub-section-1__item {
    width: 70%;
  }

  .vanilla_fluent__main__section-1__sub-section-2__item {
    width: 70%;
  }

  .vanilla_fluent__main__section-1__sub-section-3__item {
    width: 70%;
  }

  .vanilla_fluent__main__section-1__sub-section-2__item {
    width: 70%;
  }

  .vanilla_fluent__main__section-1__sub-section-3__item {
    width: 70%;
  }
}

.vanilla_fluent__main__section-1__sub-section-1__item::-webkit-scrollbar {
  width: 1em;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-2__item::-webkit-scrollbar {
  width: 1em;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-1__item::-webkit-scrollbar {
  width: 1em;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-2__item::-webkit-scrollbar {
  width: 1em;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-3__item::-webkit-scrollbar {
  width: 1em;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-1__item::-webkit-scrollbar-track {
  border-radius: 1.8vh;
  box-shadow: inset 0 0 0.7vh rgb(0 0 0 / 30%);
}

.vanilla_fluent__main__section-1__sub-section-2__item::-webkit-scrollbar-track {
  border-radius: 1.8vh;
  box-shadow: inset 0 0 0.7vh rgb(0 0 0 / 30%);
}

.vanilla_fluent__main__section-1__sub-section-3__item::-webkit-scrollbar-track {
  border-radius: 1.8vh;
  box-shadow: inset 0 0 0.7vh rgb(0 0 0 / 30%);
}

.vanilla_fluent__main__section-1__sub-section-1__item::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.11vh solid slategrey;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-2__item::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.11vh solid slategrey;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-1__sub-section-3__item::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0.11vh solid slategrey;
  border-radius: 1.8vh;
}

.vanilla_fluent__main__section-2__item {
  max-width: 90vw;
  bottom: 0;
  position: relative;
  width: 95%;
  height: 70vh;
  outline: none;
  border: none;
  border-radius: 3vw;
  overflow: hidden;
  background: rgb(255 255 255 / 40%);
  backdrop-filter: blur(0.12vh);
  z-index: 0;
  margin-bottom: 30vh;
}

@media only screen and (min-width: 19/10) {
  .vanilla_fluent__main__section-2__item {
    margin-bottom: 50vh;
  }
}

/* .vanilla_fluent__footer {}

  .vanilla_fluent__footer__item {} */
