.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffeeee;
  background: -webkit-linear-gradient(to right, #ddefbb, #ffeeee);
  background: linear-gradient(to right, #ddefbb, #ffeeee);
  overflow: auto;
  min-height: 100vh;
  margin-top: -15vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.auth__section-1 {
  border-radius: 3vh;
  background: #ffeeee;
  box-shadow: -2.9vh 2.9vh 6.4vh #b5b5b5, 2.9vh -2.9vh 6.4vh #ffeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  width: 50vw;
  justify-content: flex-start;
  overflow: hidden;
  padding-bottom: 2vh;
}

.auth__section-1__item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__section-1__item-1__section-1 {
  min-width: 40vw;
  max-width: 70vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

@media only screen and (max-width: 500px) {
  .auth__section-1__sub-section-1__item-1 {
    width: 15vw !important;
    height: 15vw !important;
  }
}

@media only screen and (max-width: 440px) {
  .auth__section-1__item-1__section-1 {
    min-width: 20vw;
    max-width: 40vw;
  }
}

@media only screen and (max-width: 300px) {
  .auth__section-1__item-1__section-1 {
    line-height: 3.2vh;
  }
}

.auth__section-1__sub-section-1__item-2 {
  font-size: 5.14vw;
  padding-top: 2.7vh;
  letter-spacing: 0.056vw;
  font-size: 7vw;
  color: #faeca0;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  font-family: 'Kaushan Script', cursive;
}

.auth__section-1__item-1__section-1__item-1,
.auth__section-1__item-1__section-1__item-2,
.auth__section-1__item-1__section-1__item-3,
.auth__section-1__item-1__section-1__item-4 {
  border-radius: 3vh;
  border: 3.6vh solid black;
}

.auth__section-1__sub-section-1 {
  min-width: 90%;
  min-height: 90%;
}

.auth__section-1__sub-section-1__item-1 {
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  background-image: url('../../../assets/images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auth__section-1__sub-section-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

.auth__section-1__item-1__sub-item-1,
.auth__section-1__item-1__sub-item-2 {
  border-radius: 1.5vh;
  max-width: 60%;
}
