.hero {
  background-image: url('../../../assets/images/hero3.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: -5rem;
  background-attachment:scroll;
}

.hero__item-1 {
  font-size: 12vw;
  color: #faeca0;
  margin-top: -9rem;
}

.hero__item-2 {
  font-size: 4vw;
  color: #faeca0;
}
