.main-2 {
  min-height: 100vh;
  background-color: #faeca0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 7vh;
  border-top-right-radius: 7vh;
  z-index: 2;
}