.main-2 {
  min-height: 95vh;
  background-color: #faeca0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-top-left-radius: 7vh;
  border-top-right-radius: 7vh;
  z-index: 2;
  margin-top: -5vh;
  padding: 2vw;
  padding-bottom: 15vh;
}

.main-2__item-1 {
  font-size: 13vh;
}
.main-2__item-2 {
  font-size: 5vh;
  text-align: center;
  font-family: 'Courgette', cursive;
}
.main-2__item-3 {
  font-size: 4vh;
  text-align: center;
  font-family: 'Courgette', cursive;
}
