.vanilla {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5vh;
  z-index: 8;
  overflow: hidden;
  font-family: 'Kaushan Script', cursive;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  user-select: none;
  margin-top: -13vh;
  margin-bottom: -1vh;
  padding-top: 15vh;
}

.vanilla__header__item {
  font-size: 7vw;
  color: #faeca0;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  text-align: center;
  margin-top: -6vh;
}

@media only screen and (max-aspect-ratio: 16/9) {
  .vanilla {
    padding-top: 13vh;
  }
}

@media only screen and (max-aspect-ratio: 7/5) {
  .vanilla__header__item {
    font-size: 6vw;
  }

  .vanilla {
    padding-top: 14.5vh;
  }
}
