/* Landing Page */
.landing {
  position: relative;
  background: url('../../../assets/images/landing.webp') no-repeat center 80% / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  margin-top: -10vh;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 60%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing-inner h1 {
  font-size: 13vw;
  color: #faeca0;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  padding-top: 10vh;
}
.landing-inner p {
  font-size: 3vw;
  color: #faeca0;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  max-width: 60%;
}

.landing-inner .buttons {
  margin-top: 1.8vh;
}

.register-form,
.login-form {
  min-width: 100vw;
  text-align: center;
  justify-content: center;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin-top: 12vh;
  padding-top: 5vh;
  overflow-y: scroll;
}

.form input {
  width: 70%;
  padding: 1.12vh;
  margin: 1.12vh;
}

.lead {
  font-size: 2.8vh;
}

.heading {
  font-size: 4.5vh;
}

.link a {
  color: #6cafa4;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 90vw;
  padding-bottom: 20vh;
  min-height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  max-width: 90vw;
  padding-bottom: 20vh;
  min-height: 100vh;
}

.auth__button,
.auth__button {
  font-family: Hack, monospace;
  background: #bbff00;
  color: #1d1d1d;
  cursor: pointer;
  font-size: 2em;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  min-width: 250px;
}

.auth__button::after,
.auth__button::after {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  position: absolute;
  left: 80%;
  top: 54%;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.auth__button:hover,
.auth__button:hover {
  background: #2b2bff;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #0000ff61;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  color: #ffffff;
}

.auth__button:hover::after,
.auth__button:hover::after {
  opacity: 1;
  transition: all 0.5s;
  color: #ffffff;
}
