.Card {
  position: relative;
  cursor: pointer;
  background: white;
  margin: 0.56vw;
  padding: 1.12vw;
  border-radius: 0.56vw;
  border: 0.11vh solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.11vh 0 rgba(9, 45, 66, 0.25);
  font-size: 1.7vh;
  overflow-wrap: break-word;
  min-height: 2.02vh;
}

.Card:hover {
  background: #f5f6f7;
}

.Card-Icons {
  position: absolute;
  top: 0.56vh;
  right: 0.56vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Card-Icon {
  cursor: pointer;
  width: 2.7vw;
  height: 2.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.56vh;
  margin: 0.11vw;
  color: rgba(0, 0, 0, 0.5);
  background: #f5f6f7;
  opacity: 0.9;
}

.Card-Icon:hover {
  opacity: 1;
  background: rgba(220, 220, 220, 1);
}
