.Edit-Card .Card {
  min-height: 5.6vh;
  padding-left: 0.9vw;
  padding-right: 1.7vw;
}

.Edit-Card .Card:hover {
  background: white;
}

.Edit-Card-Textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 1.7vh;
}
