.proj {
  background: #f7ff00;
  background: linear-gradient(to right, #db36a4, #f7ff00);
  background: linear-gradient(to right, #db36a4, #f7ff00);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  padding-bottom: 38vh;
  margin-top: -12.9vh;
  padding-top: 18vh;
}

.proj__header__item {
  text-align: center;
  color: #faeca0;
  text-shadow: -0.34vh 0 0.56vh rgb(36 36 36);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 10vw;
  margin-top: -12vh;
}

.proj__button {
  display: block;
  flex-basis: 33%;
  padding-left: 3vw;
  padding-right: 3vw;
  min-width: 27.73vw;
  min-height: 11vh;
  max-width: 80vw;
  outline: none;
  border: none;
  display: block;
  margin: auto;
  background: #000428;
  background: linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  border-radius: 28;
  border-radius: 28;
  border-radius: 20vh;
  font-family: Arial;
  color: #fff;
  font-size: 3vh;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@media only screen and (max-aspect-ratio: 9/5) {
  .proj__button {
    font-size: 2vh;
  }
}

.proj__button:focus {
  outline: 0 !important;
}

.proj__button:hover {
  background: #000428;
  background: linear-gradient(to right, #004e92e3, #000428);
  background: linear-gradient(to right, #004e92e3, #000428);
  transform: perspective(0.11784511784511785vh) scale(1.05);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.boardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
}
