.vanilla_normal {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  max-width: 90vw;
  padding-bottom: 20vh;
  overflow-x: scroll;
}

.vanilla_normal__section-1 {
  display: flex;
  flex-direction: column;
  min-width: 39vw;
}

.vanilla_normal__section-2__item {
  min-width: 56vw;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 0vw;
  background: #e0e0e0;
  box-shadow: inset -2.8vh -2.8vh 5.6vh #a6a6a6,
    inset 2.81vh 2.81vh 5.61vh #ffffff;
}
