.home {
  margin-top: -9rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 109vh;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
  position: relative;
  bottom: 0;
}