.liveCompiler {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10vh;
  margin-top: -15vh;
  min-height: 100vh;
}

.compilerHeader__item-1 {
  font-size: 12vh !important;
}
.compilerHeader__item-2 {
  font-size: 4vh !important;
}

@media screen and (max-width: 330px) {
  .compilerHeader__item-1 {
    font-size: 8vh !important;
  }
  .compilerHeader__item-2{font-size: 3vh !important;}
}

@media screen and (max-width: 230px) {
  .compilerHeader__item-1 {
    font-size: 7vh !important;
  }
  .compilerHeader__item-2{font-size: 2.5vh !important;}
}


@media screen and (max-width: 200px) {
  .compilerHeader__item-1 {
    font-size: 6vh !important;
  }
  .compilerHeader__item-2{font-size: 2vh !important;}
}

pre {
  background: #f7f7f7;
  padding: 1.11vh 3.12vw;
  border-radius: 0.22vh;
  border: 0.11vh solid #ccc;
}

.optionSegment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 80vw;
  padding-bottom: 20vh;
}

.compilerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
  margin-top: -10vh;
}
.compilerHeader__section {
  text-align: left;
  margin-bottom: 0.22vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.customButton {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1.34vh 4.68vw;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 1.56vh;
  margin-left: 0.78vw;
}

.aceEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}

.inputEditor,
.outputLogs {
  min-width: 40vw !important;
  margin-top: 2.23vh;
  display: inline-block;
  min-height: 20vh !important;
  max-height: 25vh !important;
  padding: 2vw !important;
  max-width: 80vw !important;
  font-size: 2.5vh !important;
}

.codeEditor {
  margin-top: 2vh !important;
  min-width: 90vw !important;
  max-width: 92vw !important;
  min-height: 40vh !important;
  font-size: 2.5vh !important;
}

.nm {
  display: inline-flex;
  float: left;
  height: 4.46vh;
}
pre code {
  line-height: 2.23vh;
}

.result {
  padding: 1.25vw 0;
}

.arrow-closed,
.arrow-open {
  border: solid #999;
  border-width: 0 0.22vw 0.22vw 0;
  display: inline-block;
  padding: 0.45vw;
  position: absolute;
  right: 1.12vw;
}

.arrow-closed {
  top: 1.11vh;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 1.56vh;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 0.11vh solid rgb(105, 46, 46);
  border-radius: 0.22vh;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 1.25vw 8.125vw 1.25vw 1.56vw;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 0.11vw 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 0.78vw 0.78vw 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 1.56vw;
  top: 1.56vh;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 0.78vw 0.78vw;
}

.Dropdown-menu {
  background-color: white;
  border: 0.1vw solid #ccc;
  box-shadow: 0 0.1vw 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -0.1vw;
  max-height: 22.32vh;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 11.16vw;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 0.89vh 1.56vw;
  color: rgba(51, 51, 51, 1.2);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 0.89vh 1.56vw;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 0.31vw;
  border-bottom-left-radius: 0.31vw;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 0.89vh 1.56vw;
}
