/* POP Compiler Section */

.pop {
  margin-top: -7.2vh;
  background-color: #00bbf9;
  height: 100vh;
  padding: 0.9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
