.vanilla {
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2vh;
  z-index: 8;
  overflow: hidden;
  font-family: 'Kaushan Script', cursive;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vanilla__header__item {
  font-size: 7vw;
  color: #faeca0;
  text-shadow: -3px 0px 5px rgb(36, 36, 36);
  text-align: center;
}

@media only screen and (max-height: 2160px) and (max-width: 3840px) {
  .vanilla {
    padding-top: 13vh;
  }
}

@media only screen and (max-height: 1080px) and (max-width: 1920px) {
  .vanilla {
    padding-top: 9vh;
  }
}

@media only screen and (max-width: 1400px) {
  .vanilla__header__item {
    font-size: 6vw;
  }

  .vanilla {
    padding-top: 14.5vh;
  }
}