.vanilla {
  background-color: transparent;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -18vh;
  padding-top: 16vh;
  z-index: 8;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}


.vanilla__header__item {
  font-size: 7vh;
  color: #faeca0;
  text-shadow: -3px 0px 5px rgb(36, 36, 36);
  text-align: center;
}

@media only screen and (max-height:2160px) and (max-width:3840px)
 {
  .vanilla{padding-top:13vh;}
  .vanilla__header__item{font-size: 6vh;}

}

@media only screen and (max-height:1080px) and (max-width:1920px)
 {
  .vanilla{padding-top:9vh;}
}



