/*Dfooter Section*/

.dfooter__item {
  text-align: justify;
  font-size: 4vw;
  color: rgb(250, 234, 92);
}

.dfooter {
  min-width: 100vw;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 14vh;
  border-top-left-radius: 7vh;
  border-top-right-radius: 7vh;
  position: absolute;
  bottom: 0;
  z-index: 3;
}