/* Sidebar Section */

.navbar__section-1 {
  height: 12.9vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.navbar__section__item,
.navbar__nav__section__item {
  font-size: 3.1vh;
  margin-left: 0.26vh;
  height: 5.15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.9vh;
  min-width: 4vw;
  max-width: 11vw;
  flex-shrink: 0;
  background-color: #15161c;
  padding: 0.26vh;
  z-index: 400;
}



.navbar__nav {
  background: #15171c;
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  overflow: scroll;
  overflow-x: hidden;
  transition: all 0.4s 0.4s ease-in-out;
  transition-delay: 0ms;
  z-index: 401;
}

.navbar__nav__section {
  width: 100%;
}

/* Sub-Menu Section */

.submenu__item-1 {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0.4vw;
  list-style: none;
  height: 9.6vh;
  text-decoration: none;
  font-size: 2.9vh;
}

.submenu__item-1:hover {
  background: #252831;
  border-left: 0.64vh solid #632ce4;
  cursor: pointer;
}

.submenu__item-1__section_sub-item,
.submenu__item-2__sub-item {
  margin-left: 0.32vh;
}

.submenu__item-2 {
  background: #870000; 
  background: -webkit-linear-gradient(
    to right,
    #190a05,
    #870000
  ); 
  background: linear-gradient(
    to right,
    #190a05,
    #870000
  ); 
  height: 9.6vh;
  padding-left: 2.57vw;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 2.9vh;
}

.submenu__item-2:hover {
  background: #e4c22c;
  color: white;
  cursor: pointer;
}
